@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  margin: 0;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}
